.bemvinda, .secrets {
    background-color: rgba(195, 207, 206, 0.685);
    background-position: center;
    border: 20px;
    border-radius: 5px;
    text-align: center;
    margin-left: 240px;
    margin-right: 240px;
}

body {
    background-image: url(img/fundo.jpg);
}

.planeta{
    width: 5px;
    height: 5px;

}

.centralizar{
    display: flex;
	justify-content: center;
	align-items: center;
    color: rgb(214, 46, 214);
}

