.bemvinda, .secrets {
    background-color: rgb(195, 207, 206);
    background-position: center;
    border: 20px;
    border-radius: 5px;
    text-align: center;
}

body {
    background-image: url(fundo.jpg);
}

.planeta{
    width: 5px;
    height: 5px;

}

.botao{
    background-position: center;
}